In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('../Challenge/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Create our features
#change strings to int
df_encoded = pd.get_dummies(df, columns=["home_ownership","verification_status", "loan_status", "pymnt_plan", "hardship_flag", "debt_settlement_flag", "initial_list_status", "application_type"])

#convert date
months_num = {
   "Jan-2019": 12019,
   "Feb-2019": 22019,
   "Mar-2019": 32019,
    "Apr-2019": 42019,
    "May-2019": 52019,
}
df_encoded["issue_date"] = df_encoded["issue_d"].apply(lambda x: months_num[x])
#drop issue_d
df_encoded = df_encoded.drop(["issue_d"], axis=1)

df_encoded["pay_date"] = df_encoded["next_pymnt_d"].apply(lambda x: months_num[x])
#drop issue_d
df_encoded = df_encoded.drop(["next_pymnt_d"], axis=1)

# Create our target
X = df_encoded.drop(columns="loan_status_high_risk")
y = df_encoded["loan_status_high_risk"]

In [7]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,loan_status_low_risk,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,issue_date,pay_date
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.0,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.994958,1.0,1.0,1.0,0.123879,0.876121,0.860340,0.139660,19280.723121,48187.388625
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.070831,0.0,0.0,0.0,0.329446,0.329446,0.346637,0.346637,7438.618761,4861.605853
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,1.0,1.0,0.000000,0.000000,0.000000,0.000000,12019.000000,42019.000000
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,1.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,0.000000,12019.000000,42019.000000
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,1.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,0.000000,22019.000000,52019.000000
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,1.000000,1.0,1.0,1.0,0.000000,1.000000,1.000000,0.000000,22019.000000,52019.000000
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.0,1.0,1.000000,1.000000,1.000000,1.000000,32019.000000,52019.000000

In [8]:
df_encoded.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,loan_status_low_risk,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,issue_date,pay_date
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,1,1,0,1,1,0,32019,52019
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,1,1,0,1,1,0,32019,52019
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,1,1,0,1,1,0,32019,52019
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,1,1,0,1,1,0,32019,52019
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,1,1,0,1,1,0,32019,52019

In [9]:
# Check the balance of our target values
y.count()

68817

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(51612, 93)
(17205, 93)
(51612,)
(17205,)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [11]:
# Resample the training data with the BalancedRandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)
X = df_encoded.drop(columns="loan_status_high_risk")
X.head()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,loan_status_low_risk,pymnt_plan_n,hardship_flag_N,debt_settlement_flag_N,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,issue_date,pay_date
0,10500.0,0.1719,375.35,66000.0,27.24,0.0,0.0,8.0,0.0,1609.0,...,1,1,1,1,0,1,1,0,32019,52019
1,25000.0,0.2000,929.09,105000.0,20.23,0.0,0.0,17.0,1.0,18368.0,...,1,1,1,1,0,1,1,0,32019,52019
2,20000.0,0.2000,529.88,56000.0,24.26,0.0,0.0,8.0,0.0,13247.0,...,1,1,1,1,0,1,1,0,32019,52019
3,10000.0,0.1640,353.55,92000.0,31.44,0.0,1.0,10.0,1.0,17996.0,...,1,1,1,1,0,1,1,0,32019,52019
4,22000.0,0.1474,520.39,52000.0,18.76,0.0,1.0,14.0,0.0,9091.0,...,1,1,1,1,0,1,1,0,32019,52019

In [12]:
# Define the target set.
y = df_encoded["loan_status_high_risk"].ravel()
y[:5]

array([0, 0, 0, 0, 0], dtype=uint8)

In [13]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [14]:
#fit the model
rf_model = rf_model.fit(X_train, y_train)
predictions = rf_model.predict(X_test)

In [15]:
# Calculated the balanced accuracy score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
acc_score = accuracy_score(y_test, predictions)
print(acc_score)

1.0

In [16]:
# Display the confusion matrix
cm = confusion_matrix(y_test, predictions)
print(cm)
#pretty print
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])
cm_df

[[17113     0]
 [    0    92]]

          Predicted 0  Predicted 1
Actual 0        17113            0
Actual 1            0           92

In [17]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, predictions))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00     17113
          1       1.00      1.00      1.00      1.00      1.00      1.00        92

avg / total       1.00      1.00      1.00      1.00      1.00      1.00     17205

In [18]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.5658954446599289, 'loan_status_low_risk'),
 (0.06929175338257572, 'total_rec_int'),
 (0.047187253721422955, 'last_pymnt_amnt'),
 (0.047117652954058294, 'total_rec_prncp'),
 (0.046967502286846895, 'total_pymnt_inv'),
 (0.03156747221044487, 'total_pymnt'),
 (0.007320712446227829, 'total_rec_late_fee'),
 (0.00642437612447046, 'mo_sin_old_rev_tl_op'),
 (0.006096971722090892, 'out_prncp_inv'),
 (0.005553512058040936, 'issue_date'),
 (0.005375708586361029, 'dti'),
 (0.005065143552398538, 'out_prncp'),
 (0.00481435829888884, 'installment'),
 (0.004326580897726757, 'avg_cur_bal'),
 (0.004275805607136901, 'tot_cur_bal'),
 (0.0041156029895898566, 'total_bc_limit'),
 (0.004114681802255562, 'total_rev_hi_lim'),
 (0.003978300447018036, 'tot_hi_cred_lim'),
 (0.003955656169836629, 'mo_sin_old_il_acct'),
 (0.0039178648280224675, 'max_bal_bc'),
 (0.0038531876008068944, 'bc_open_to_buy'),
 (0.0038519976950634714, 'bc_util'),
 (0.0038287857559192863, 'total_bal_ex_mort'),
 (0.0037489360126270227, 'total_bal_il'),
 (0.0035886882061798983, 'il_util'),
 (0.003563651559344917, 'revol_bal'),
 (0.0034567065998214667, 'loan_amnt'),
 (0.003428617522214648, 'total_acc'),
 (0.0033672794478646407, 'annual_inc'),
 (0.0032080676505994764, 'num_rev_accts'),
 (0.003196166444011065, 'num_rev_tl_bal_gt_0'),
 (0.003163453368477987, 'total_il_high_credit_limit'),
 (0.0031298941312836066, 'mo_sin_rcnt_rev_tl_op'),
 (0.003097150154238903, 'mths_since_recent_bc'),
 (0.003055374655450908, 'mths_since_rcnt_il'),
 (0.0030250907934096963, 'inq_last_12m'),
 (0.0029944037994428015, 'all_util'),
 (0.002884634577328267, 'num_actv_bc_tl'),
 (0.002831229336380841, 'num_il_tl'),
 (0.0028182545574574574, 'mths_since_recent_inq'),
 (0.0028129453463027593, 'num_actv_rev_tl'),
 (0.002627238117465392, 'num_sats'),
 (0.002577398120514213, 'acc_open_past_24mths'),
 (0.0025772098208768643, 'int_rate'),
 (0.0024038956935450726, 'total_cu_tl'),
 (0.0023931459785402807, 'open_acc'),
 (0.002327624101768655, 'num_op_rev_tl'),
 (0.002286256540681034, 'num_bc_tl'),
 (0.0022503034164581518, 'inq_fi'),
 (0.0022465297099802804, 'mo_sin_rcnt_tl'),
 (0.00224648397141786, 'pct_tl_nvr_dlq'),
 (0.002117855256796981, 'open_act_il'),
 (0.0020912749515510725, 'num_tl_op_past_12m'),
 (0.0020781044850110117, 'inq_last_6mths'),
 (0.0018393652480768585, 'open_rv_24m'),
 (0.0016561792722382615, 'percent_bc_gt_75'),
 (0.0015248037945590524, 'open_il_24m'),
 (0.0015178681037217368, 'open_il_12m'),
 (0.0015023783442022298, 'num_bc_sats'),
 (0.0014920356032360944, 'open_rv_12m'),
 (0.0014691390836990108, 'open_acc_6m'),
 (0.0014608159087383347, 'mort_acc'),
 (0.0011816190635393865, 'pay_date'),
 (0.0010959957125769141, 'tot_coll_amt'),
 (0.0009742636397280598, 'num_accts_ever_120_pd'),
 (0.0008544409088106419, 'delinq_2yrs'),
 (0.0006580635041142742, 'pub_rec'),
 (0.0006366741649964822, 'home_ownership_RENT'),
 (0.0006237436966759441, 'pub_rec_bankruptcies'),
 (0.0006093739726733482, 'home_ownership_MORTGAGE'),
 (0.0005764029649088964, 'verification_status_Verified'),
 (0.0005444630037169316, 'application_type_Joint App'),
 (0.000538150953737776, 'verification_status_Not Verified'),
 (0.0005138661519715922, 'application_type_Individual'),
 (0.0004515010515259291, 'initial_list_status_f'),
 (0.00042243066688071065, 'collections_12_mths_ex_med'),
 (0.0003607450922759709, 'home_ownership_OWN'),
 (0.00033274744606866724, 'verification_status_Source Verified'),
 (0.00031041369864236894, 'num_tl_90g_dpd_24m'),
 (0.0002463502981781844, 'initial_list_status_w'),
 (9.838559015651966e-05, 'chargeoff_within_12_mths'),
 (1.759293617461451e-05, 'home_ownership_ANY'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [19]:
#Prepare the data
from sklearn.datasets import make_classification
from imblearn.ensemble import EasyEnsembleClassifier
from sklearn.ensemble import AdaBoostClassifier
y = df_encoded["loan_status_high_risk"]
X = df_encoded.drop(columns="loan_status_high_risk")

X_train, X_test, y_train, y_test = train_test_split(X,
   y, random_state=1)

In [20]:
# Train the EasyEnsembleClassifier
base_estimator = AdaBoostClassifier(n_estimators=10)
eec = EasyEnsembleClassifier(n_estimators=100, base_estimator=base_estimator)
eec.fit(X_train, y_train)
y_pred_eec = eec.predict(X_test)

In [21]:
# Calculated the balanced accuracy score
print(
    f"Balanced accuracy: {balanced_accuracy_score(y_test, y_pred_eec):.2f} - "
)

Balanced accuracy: 1.00 -

In [22]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred_eec)
print(cm)

[[17104     0]
 [    0   101]]

In [23]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred_eec))

                   pre       rec       spe        f1       geo       iba       sup

          0       1.00      1.00      1.00      1.00      1.00      1.00     17104
          1       1.00      1.00      1.00      1.00      1.00      1.00       101

avg / total       1.00      1.00      1.00      1.00      1.00      1.00     17205